<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block titulo %}
        SIE
    {% endblock titulo %}
        </title>
</head>
<body>

{% block barra %}
    <h2>tutulo</h2>
{% endblock barra %}
    
    
    {% block contenido %}
        <H1>encavezado tiruaoisd</H1>
    {% endblock contenido %}

    
    {% block footer %}
        <h4>Pie de pagina</h4>
    {% endblock footer %}
        
        
</body>
</html>