{% extends 'web/base.html' %}
{% load static %}

{% block titulo %}
    Colegio México del Sureste
{% endblock titulo %}


{% block head %}
<link rel="stylesheet" href="{% static 'colmex/assets/css/plugins.min.css' %}">
<link rel="stylesheet" href="{% static 'colmex/assets/css/style.min.css' %}">
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.3">
</script>
{% endblock head %}
    
{% block contenido %}

<div class="carousel carousel-slider">
    <a class="carousel-item" href="#two!"><img src="{% static 'colmex/images/slider/UnicaFelicidad.jpg' %}"></a>
    <a class="carousel-item" href="#three!"><img src="{% static 'colmex/images/slider/BecaHermanos.jpg' %}"></a>
    <a class="carousel-item" href="#four!"><img src="{% static 'colmex/images/slider/CamaraGessel.jpg' %}"></a>
    <a class="carousel-item" href="#five!"><img src="{% static 'colmex/images/slider/SalaJuiciosOrales.jpg' %}"></a>
    <a class="carousel-item" href="#six!"><img src="{% static 'colmex/images/slider/SalaCinematografia.jpg' %}"></a>
  </div>
  
  <div class="row" style="margin-top:-2%; margin-bottom:2%;">
    <div class="achievement-area">
      <div class="container">
        <div class="section-title">
          <h2 class="center" style="color:#061a52; margin-top:40px;">
            ALGUNAS DE LAS UNIVERSIDADES EXTRANJERAS DE PRESTIGIO DONDE HAN INGRESADO
          </h2>
        </div>
        <div class="banner">
          <div class="carousel" id="carousel">
            <a class="carousel-item" href="#one!">
              <img class="responsive-img" height="200" width="250"
                src="{% static 'colmex/images/logouniversidades/ADERDEEN.jpg' %}">
            </a>
            <a class="carousel-item" href="#two!">
              <img class="responsive-img" height="200" width="250"
                src="{% static 'colmex/images/logouniversidades/FILM.png' %}">
            </a>
            <a class="carousel-item" href="#three!">
              <img class="responsive-img" height="200" width="250"
                src="{% static 'colmex/images/logouniversidades/EPFL.jpg' %}">
            </a>
            <a class="carousel-item" href="#four!">
              <img class="responsive-img" height="200" width="250"
                src="{% static 'colmex/images/logouniversidades/HARVARD.png' %}">
            </a>
            <a class="carousel-item" href="#five!">
              <img class="responsive-img" height="200" width="250"
                src="{% static 'colmex/images/logouniversidades/CVUT.jpg' %}">
            </a>
            <a class="carousel-item" href="#six!">
              <img class="responsive-img" height="200" width="250"
                src="{% static 'colmex/images/logouniversidades/DUKE.png' %}">
            </a>
            <a class="carousel-item" href="#seven!">
              <img class="responsive-img" height="200" width="250"
                src="{% static 'colmex/images/logouniversidades/FLORIDA.png' %}">
            </a>
            <a class="carousel-item" href="#eight!">
              <img class="responsive-img" height="200" width="250"
                src="{% static 'colmex/images/logouniversidades/GRENOBLE.png' %}">
            </a>
            <a class="carousel-item" href="#nine!">
              <img class="responsive-img" height="200" width="250"
                src="{% static 'colmex/images/logouniversidades/HULT.png' %}">
            </a>
            <a class="carousel-item" href="#ten!">
              <img class="responsive-img" height="200" width="250"
                src="{% static 'colmex/images/logouniversidades/JUILLIARD.png' %}">
            </a>
            <a class="carousel-item" href="#eleven!">
              <img class="responsive-img" height="200" width="250"
                src="{% static 'colmex/images/logouniversidades/KING.png' %}">
            </a>
            <a class="carousel-item" href="#twelve!">
              <img class="responsive-img" height="200" width="250"
                src="{% static 'colmex/images/logouniversidades/FAU.png' %}">
            </a>
            <a class="carousel-item" href="#thirteen!">
              <img class="responsive-img" height="200" width="250"
                src="{% static 'colmex/images/logouniversidades/LOMALINDA.png' %}">
            </a>
            <a class="carousel-item" href="#fourteen!">
              <img class="responsive-img" height="200" width="250"
                src="{% static 'colmex/images/logouniversidades/ACADEMIAE.png' %}">
            </a>
            <a class="carousel-item" href="#fifteen!">
              <img class="responsive-img" height="200" width="250"
                src="{% static 'colmex/images/logouniversidades/WALDEN.png' %}">
            </a>
            <a class="carousel-item" href="#sixteen!">
              <img class="responsive-img" height="200" width="250"
                src="{% static 'colmex/images/logouniversidades/AERONAUTICAL.png' %}">
            </a>
            <a class="carousel-item" href="#seventeen!">
              <img class="responsive-img" height="200" width="250"
                src="{% static 'colmex/images/logouniversidades/BROCK.png' %}">
            </a>
            <a class="carousel-item" href="#eighteen!">
              <img class="responsive-img" height="200" width="250"
                src="{% static 'colmex/images/logouniversidades/CALARTS.png' %}">
            </a>
            <a class="carousel-item" href="#nineteen!">
              <img class="responsive-img" height="200" width="250"
                src="{% static 'colmex/images/logouniversidades/POLITECNICA.png' %}">
            </a>
            <a class="carousel-item" href="#twenty!">
              <img class="responsive-img" height="200" width="250"
                src="{% static 'colmex/images/logouniversidades/MILANO.jpg' %}">
            </a>
            <a class="carousel-item" href="#twentyone!">
              <img class="responsive-img" height="200" width="250"
                src="{% static 'colmex/images/logouniversidades/MIT.png' %}">
            </a>
            <a class="carousel-item" href="#twentytwo!">
              <img class="responsive-img" height="200" width="250"
                src="{% static 'colmex/images/logouniversidades/WINDTHORST.png' %}">
            </a>
            <a class="carousel-item" href="#twentythree!">
              <img class="responsive-img" height="200" width="250"
                src="{% static 'colmex/images/logouniversidades/CALIFORNIA.png' %}">
            </a>
            <a class="carousel-item" href="#twentyfour!">
              <img class="responsive-img" height="200" width="250"
                src="{% static 'colmex/images/logouniversidades/CARNEGIE.png' %}">
            </a>
            <a class="carousel-item" href="#twentyfive!">
              <img class="responsive-img" height="200" width="250"
                src="{% static 'colmex/images/logouniversidades/CITY.jpg' %}">
            </a>
            <a class="carousel-item" href="#twentysix!">
              <img class="responsive-img" height="200" width="250"
                src="{% static 'colmex/images/logouniversidades/CORNELL.jpg' %}">
            </a>
            <a class="carousel-item" href="#twentyseven!">
              <img class="responsive-img" height="200" width="250"
                src="{% static 'colmex/images/logouniversidades/CURTIN.jpg' %}">
            </a>
            <a class="carousel-item" href="#twentyeight!">
              <img class="responsive-img" height="200" width="250"
                src="{% static 'colmex/images/logouniversidades/GNOMON.jpg' %}">
            </a>
            <a class="carousel-item" href="#twentynine!">
              <img class="responsive-img" height="200" width="250"
                src="{% static 'colmex/images/logouniversidades/GRENOBLEECOLE.png' %}">
            </a>
            <a class="carousel-item" href="#thirty!">
              <img class="responsive-img" height="200" width="250"
                src="{% static 'colmex/images/logouniversidades/NICHOLSON.jpg' %}">
            </a>
            <a class="carousel-item" href="#thirtyone!">
              <img class="responsive-img" height="200" width="250"
                src="{% static 'colmex/images/logouniversidades/ROCKHURST.jpg' %}">
            </a>
            <a class="carousel-item" href="#thirtytwo!">
              <img class="responsive-img" height="200" width="250"
                src="{% static 'colmex/images/logouniversidades/SOUTBERN.jpg' %}">
            </a>
            <a class="carousel-item" href="#thirtythree!">
              <img class="responsive-img" height="200" width="250"
                src="{% static 'colmex/images/logouniversidades/TEXAS.jpg' %}">
            </a>
          </div><!--carrusel-->
        </div><!--banner-->
      </div><!--Container-->
    </div><!--archive-->
  </div><!--row-->
  <div class="row">
    <img class="responsive-img" src="{% static 'colmex/images/slider/SabiasQue.jpg' %}" alt="sabias que">
  </div>
  <div class="row">
    <div class="achievement-area" style="background: #061a52; margin-top: 30px; margin-bottom:40px;height:auto;">
      <div class="container">
        <div class="section-title">
          <h3 class="center" style="color: #ffffff; margin-top:-1%;">
            Nuestros Logros
          </h3>
        </div><!--section title-->
        <div class="row">
          <div class="col s12 col m4">
            <div class="single-count mb-30 count-one">
              <div class="count-img">
                <img src="{% static 'colmex/assets/img/icon-img/funfact-2.png' %}" alt="fun icon 1">
              </div>
              <div class="count-content">
                <h2 class="count" style="color:#DE1010;">66</h2>
                <span style="color:#FFFFFF;">
                  Universidades extranjeras donde han estudiado nuestros egresados.
                </span>
              </div>
            </div>
          </div>
          <div class="col s12 col m4">
            <div class="single-count mb-30 count-two">
              <div class="count-img">
                <img src="{% static 'colmex/assets/img/icon-img/funfact-1.png' %}" alt="fun icon2">
              </div>
              <div class="count-content">
                <h2 class="count" style="color:#DE1010;">278</h2>
                <span style="color:#FFFFFF;">
                  Triunfos académicos y deportivos
                </span>
              </div>
            </div>
          </div>
          <div class="col s12 col m4">
            <div class="single-count mb-30 count-three">
              <div class="count-img">
                <img src="{% static 'colmex/assets/img/icon-img/achieve-41.png' %}" alt="">
              </div>
              <div class="count-content">
                <h2 class="count" style="color:#DE1010;">313</h2>
                <span style="color:#FFFFFF;">
                  Becas de universidades nacionales e internacionales.
                </span>
              </div>
            </div>
          </div>
        </div><!--row-->
        <div class="row">
          <div class="col m12 s12">
            <p class="white-text" style="font-size: 20px;">
              La primera escuela bicultural en Tabasco, 32 años de excelencia
              educativa nacional y con alumnos en las mejores universidades internacionales del mundo.
            </p>
            <p class="white-text" style="font-size: 20px;">
              Nuestros egresados compiten con estudiantes de las mejores escuelas
              del primer mundo y triunfan obteniendo becas ó admisiones en las universidades más prestigiosas del
              mundo.
            </p>
            <p class="white-text" style="font-size: 20px;">
              La mejor herencia que traerá felicidad y seguridad a tu hijo en
              cualquier adversidad que se enfrente en el mundo.
            </p>
          </div>
        </div><!--row-->
        <div class="testimonial-slider-wrap mt-45">
          <div class="testimonial-text-slider">
            <div class="testi-content-wrap row">
              <div class="testi-big-img col s12 m12 l6">
                <img alt="2" src="{% static 'colmex/assets/img/testimonial/2.jpg' %}">
              </div>
              <div class="row no-gutters">
                <div class="col s12 m12 l6">
                  <div class="testi-content bg-img default-overlay"
                    style="background-image:url({% static 'colmex/assets/img/testimonial/2.jpg' %});">
                    <div class="testi-info">
                      <h5>Freddy Priego</h5>
                      <p style="font-size:16px;"><i class="material-icons">done</i>
                        Estudio en el Colegio México del Sureste de 2005 a 2014 graduándose de la preparatoria con mención
                        honorifica y promedio de 10 lo que lo hizo acreedor a una beca al talento académico para ingresar
                        al Tecnológico de Monterrey en el año de 2014.
                      </p>
                      <p style="font-size:16px;"><i class="material-icons">done</i>
                        Ingeniero en Físico Industrial del Instituto Tecnológico de Estudios Superiores de Monterrey,
                        Campus Monterrey.
                      </p>
                      <p style="font-size:16px;"><i class="material-icons">done</i>
                        En su carrera en el ITESM tuvo la oportunidad de estudiar “Tecnología de Fusión Termonuclear” de
                        2017 a 2018 en la Czech Technical University in Prague (ČVUT).
                      </p>
                      <p style="font-size:16px;"><i class="material-icons">done</i>
                        Asistió al curso en “Diagnósticos de Plasma en Dispositivos Básicos de Física de Plasma y
                        Tokamaks” en el École Polytechnique Fédérale de Lausanne en Lausana, Suiza (EPFL).
                      </p>
                      <p style="font-size:16px;"><i class="material-icons">done</i>
                        Participo en la Escuela de Verano de Fusión: 14th Kudowa Summer School “Towards Fusion Energy” en
                        la ciudad de Kudowa, Polonia.
                      </p>
                      <p style="font-size:16px;"><i class="material-icons">done</i>
                        Realizo investigación básica en óptica matemática y econofísica durante su estancia en el ITESM,
                        se desempeñó como presidente de la Sociedad de Alumnos de Ingeniero Físico Industrial (SAIFI),
                        Coordinador General del Simposio de Física, entre otros.
                      </p>
                      <p style="font-size:16px;"><i class="material-icons">done</i>
                        Se graduó del ITESM en mayo 2019 con Grado Internacional del Programa Honors y énfasis en
                        Investigación e Innovación.
                      </p>
                      <p style="font-size:16px;"><i class="material-icons">done</i>
                        Desempeño el puesto de Associate en la firma de consultoría estratégica Strategy & parte de la red
                        de PwC (PricewaterhouseCoopers), donde desarrolla proyectos de optimización de costos, desarrollo
                        de capacidades y oferta de valor para los sectores de autotransporte y productos industriales.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="testi-content-wrap row">
              <div class="testi-big-img col s12 m12 l6">
                <img alt="" src="{% static 'colmex/assets/img/testimonial/3.jpg' %}">
              </div>
              <div class="row no-gutters">
                <div class="col s12 m12 l6">
                  <div class="testi-content bg-img default-overlay"
                    style="background-image:url({% static 'colmex/assets/img/testimonial/3.jpg' %});">
                    <div class="testi-info">
                      <h5>Esteban Sánchez Canepa</h5>
                      <p style="font-size:16px;"><i class="material-icons">done</i>
                        Obtuvo una beca en Tec de Monterrey y salió con el mejor GPA de la escuela de ingeniería. Se
                        graduó en Ingeniería Mecatrónica en el Tec y obtuvo beca King Abdullah University of Science &
                        Technology (KAUST) en Ingeniería Mecánica.
                      </p>
                      <p style="font-size:16px;"><i class="material-icons">done</i>
                        Estudio en King Abdullah University of Science & Technology (KAUST) y fue financiado por
                        $30,000.00 dólares para empezar su compañía como socio fundador.
                      </p>
                      <p style="font-size:16px;"><i class="material-icons">done</i>
                        Participo en el Foro de Ciencia y Tecnología en el Senado de la República, la continuidad y la
                        tecnología son sumamente importantes para la implementación de proyectos de resiliencia urbana.
                      </p>
                      <p style="font-size:16px;"><i class="material-icons">done</i>
                        Visito a la Universidad de Tribhuvan en Nepal y hablo sobre la resiliencia urbana y la tecnología
                        de <a href="https://sadeemwss.com/">SADEEM</a>.
                      </p>
                      <p style="font-size:16px;"><i class="material-icons">done</i>
                        Implemento sus sensores de ciudad inteligente para monitoreo de inundaciones, tráfico y medio
                        ambiente en lugares de Arabia Saudita, Emiratos Árabes Unidos, México y Estados Unidos.
                      </p>
                      <p style="font-size:16px;"><i class="material-icons">done</i>
                        <a href="https://sadeemwss.com/">SADEEM</a> una compañía de sistemas de detección ambiental
                        inalámbrica de KAUST y la primera solución de sensores multi-patentada del mundo para monitoreo de
                        inundaciones, tráfico, clima y calidad del aire, ha asegurado $ 2.6 millones de coinversión del
                        Fondo de Innovación KAUST y Saudi Aramco's Wa'ed.
                      </p>
                      <p style="font-size:16px;"><i class="material-icons">done</i>
                        Cinco de los mejores han ganado los clasificatorios saudíes para Copa Mundial de Emprendimiento
                        Mundial y recibieron un premio de $50,000 de dólares, entre ellas está la empresa <a
                          href="https://sadeemwss.com/">SADEEM</a>, que está relacionado con la gestión de inundaciones,
                        la calidad del aire y el control del tráfico.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="testi-content-wrap row">
              <div class="testi-big-img col s12 m12 l6">
                <img loading="lazy" alt="Emiliano Gomez Suárez"
                  src="{% static 'colmex/assets/img/testimonial/8beca.jpg' %}">
              </div>
              <div class="row no-gutters">
                <div class="col s12 s12 m12 l6">
                  <div class="testi-content bg-img default-overlay"
                    style="background-image:url({% static 'colmex/assets/img/testimonial/8beca.jpg' %});">
                    <div class="testi-info">
                      <h5>Emiliano Gomez Suárez</h5>
                      <p style="font-size:16px;"><i class="material-icons">done</i>
                        Obtuvo 90% de al ser el mejor en el examen de admisión de
                        toda su carrera en Instituto Tecnológico Autónomo de México (ITAM).
                      </p>
                      <p style="font-size:16px;"><i class="material-icons">done</i>
                        La Beca Baillères consta de 10 semestres nominales pagados
                        al 100%. Se dan una por programa, donde hay 3 criterios: necesidad, puntaje en el examen y el
                        estudio socioeconómico.
                      </p>
                      <p style="font-size:16px;"><i class="material-icons">done</i>
                        El puntaje general de la prueba es de 1600, lo cual el
                        alumno alcanzó un puntaje de 1532, las preguntas contienen un español, matemáticas e
                        inglés.
                      </p>
                      <a class="waves-effect waves-light btn-small" href=""><i
                          class="material-icons left">add</i>Ver</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="testi-content-wrap row">
              <div class="testi-big-img col s12 m12 l6">
                <img alt="" src="{% static 'colmex/assets/img/testimonial/MIT.jpg' %}">
              </div>
              <div class="row no-gutters">
                <div class="col s12 m12 l6">
                  <div class="testi-content bg-img default-overlay"
                    style="background-image:url({% static 'colmex/assets/img/testimonial/MIT.jpg' %});">
                    <div class="testi-info">
                      <h5>Arturo Ochoa Gonzáles</h5>
                      <p style="font-size:16px;"><i class="material-icons">done</i>
                        Realizó la maestría de Ingeniera en Sistemas en Massachussets Institute of Technology, la
                        universidad más importante de Estados Unidos y de las mejores del mundo.
                      </p>
                      <a class="waves-effect waves-light btn-small" href=""><i
                          class="material-icons left">add</i>Ver</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="testi-content-wrap row">
              <div class="testi-big-img col s12 m12 l6">
                <img alt="" src="{% static 'colmex/assets/img/testimonial/0beca.jpg' %}">
              </div>
              <div class="row no-gutters">
                <div class="col s12 s12 m12 l6">
                  <div class="testi-content bg-img default-overlay"
                    style="background-image:url({% static 'colmex/assets/img/testimonial/0beca.jpg' %});">
                    <div class="testi-info">
                      <h5>Natalia Cárdenas</h5>
                      <p style="font-size:16px;"><i class="material-icons">done</i>
                        Segunda alumna en ingresar a Harvard. Aplicó entre más de 40,000 aspirantes de todo el mundo, de
                        los cuales sólo seleccionan al 5%.
                      </p>
                      <p style="font-size:16px;"><i class="material-icons">done</i>
                        Obtuvo con beca completa de Harvard y fuera invitada al comité de latinos sobresalientes.</p>
                      <p style="font-size:16px;"><i class="material-icons">done</i>
                        Destacada por sus actividades extra curriculares, ha ganado concursos nacionales e internaciones
                        de robótica. Junto con sus compañeros de grupo ganó el premio municipal de la juventud 2019 en el
                        área de tecnología.
                      </p>
                      <p style="font-size:16px;"><i class="material-icons">done</i>
                        En su traslado le pagaron dinero para ir a Estados Unidos.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="testi-content-wrap row">
              <div class="testi-big-img col s12 m12 l6">
                <img alt="" src="{% static 'colmex/assets/img/testimonial/3beca.jpg' %}">
              </div>
              <div class="row no-gutters">
                <div class="col s12 m12 l6">
                  <div class="testi-content bg-img default-overlay"
                    style="background-image:url({% static 'colmex/assets/img/testimonial/3beca.jpg' %});">
                    <div class="testi-info">
                      <h5>Alejandro Sánchez</h5>
                      <p>
                        Nuestro ex-alumno, es el 1er estudiante tabasqueño en obtener una beca CONACYT para estudiar una
                        maestría en la Universidad Curtin, en Australia.
                      </p>
                      <a class="waves-effect waves-light btn-small" href=""><i
                          class="material-icons left">add</i>Ver</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="testi-content-wrap row">
              <div class="testi-big-img col s12 m12 l6">
                <img alt="" src="{% static 'colmex/assets/img/testimonial/4beca.jpg' %}">
              </div>
              <div class="row no-gutters">
                <div class="col s12 m12 l6">
                  <div class="testi-content bg-img default-overlay"
                    style="background-image:url({% static 'colmex/assets/img/testimonial/4beca.jpg' %});">
                    <div class="testi-info">
                      <h5>Jade Kristel Vidal Cerino</h5>
                      <p style="font-size:16px;"><i class="material-icons">done</i>
                        Ex-alumna con una destacada trayectoria académica, se graduó de la maestría en la Universidad de
                        Aberdeen en Escocia.
                      </p>
                      <p style="font-size:16px;"><i class="material-icons">done</i>
                        Participó en el programa de Internado de Texas AM University.
                      </p>
                      <p style="font-size:16px;"><i class="material-icons">done</i>
                        Obtuvo el mejor promedio de su generación de la Licenciatura en Ingeniería Industrial para la
                        Dirección en la Universidad Anáhuac.
                      </p>
                      <p style="font-size:16px;"><i class="material-icons">done</i>
                        Obtuvo un reconocimiento en la excelencia académica de la Licenciatura en Ingeniería Industrial
                        para la Dirección de su institución en el La Asociación Nacional de Facultades y Escuelas de
                        Ingeniería (ANFEI).
                      </p>
                      <a class="waves-effect waves-light btn-small" href=""><i
                          class="material-icons left">add</i>Ver</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="testimonial-image-slider">
            <div class="sin-testi-image">
              <img src="{% static 'colmex/assets/img/testimonial/7mini.jpg' %}" alt="mini testimonial">
            </div>
            <div class="sin-testi-image">
              <img src="{% static 'colmex/assets/img/testimonial/6mini.jpg' %}" alt="mini testimonial">
            </div>
            <div class="sin-testi-image">
              <img loading="lazy" src="{% static 'colmex/assets/img/testimonial/8mini.jpg' %}"
                alt="Emiliano Gomez Suárez">
            </div>
            <div class="sin-testi-image">
              <img src="{% static 'colmex/assets/img/testimonial/5mini.jpg' %}" alt="mini testimonial">
            </div>
            <div class="sin-testi-image">
              <img src="{% static 'colmex/assets/img/testimonial/0mini.jpg' %}" alt="mini testimonial">
            </div>
            <div class="sin-testi-image">
              <img src="{% static 'colmex/assets/img/testimonial/3mini.jpg' %}" alt="mini testimonial">
            </div>
            <div class="sin-testi-image">
              <img src="{% static 'colmex/assets/img/testimonial/4mini.jpg' %}" alt="mini testimonial">
            </div>
          </div><!--testimonial image slider ---mini----->
        </div><!--testimonial grande-->
      </div><!--container-->
    </div><!--achivement-->
  </div><!--row-->
  
  <hr>
  <div class="row">
    <div class="col s12 m8">
      <div class="col s12 m12">
        <iframe width="100%" height="415" src="https://www.youtube.com/embed/TdJ99Lsx_3Q" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col s12 m12">
        <img class="responsive-img" src="{% static 'colmex/images/index/_67A0068.png' %}" alt="img">
      </div>
    </div>
  
    <div class="col s12 m4">
      <!-- <h1>Colegio México del Sureste</h1> -->
      <h3 style="color:#021b53; font-size: 1.8em; text-transform: uppercase;">
        EDUCAMOS PERSONAS, NO MASAS DESDE 1988.
      </h3>
      <p style="color: #666666; font-family:trebuchet ms;">
        Nuestro proyecto educativo impulsa la formación de personas humanistas, a
        través de métodos educativos innovadores que se enfocan en sus competencias y un modelo educativo para la vida y
        la pedagogía de la comprensión.
      </p>
      <p style="color: #666666; font-family:trebuchet ms;">
        Fuimos la única escuela que imprimió con sus impresoras 3D 60 caretas en total y fueron donadas a médicos y 30 a
        diversos ciudadanos, todo esto se logró gracias a la subdirectora Alejandra León que siempre esta demostrando la
        educación altruista que es fortaleza de la institución.
      </p>
    </div>
  </div>
  
  <div class="parallax-container center valign-wrapper" id="parallaxpaginainicio">
    <div class="parallax">
      <img src="{% static 'colmex/images/index/parallaxpaginainicio.jpg' %}">
    </div>
    <div class="container white-text">
      <div class="row">
        <div class="col m12 s12">
          <h4>
            ASEGURA LA MEJOR HERENCIA QUE LE TRAERÁ FELICIDAD Y TRIUNFO A TUS HIJOS
          </h4>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col m12 s12 center-align">
      <h1 style="line-height: 2%;">
        <span style="color:#f90331">C</span>
        <span style="color:#8dc605">T</span>
        <span style="color:#00b3fe">I</span>
        <span style="color:#ca006f">A</span>
        <span style="color:#f1b104">M</span>
      </h1>
    </div>
  </div>
  
  <div id="box">
    <div class="row">
      <div class="col m5ths s6 espaciocero box_single card">
        <div class="single_box waves-effect">
          <div class="img_box waves-block waves-light">
            <img src="{% static 'colmex/images/index/ciencia.jpg' %}" alt="ciencia" />
          </div>
          <div class="card-content tarjetaprimaria" id="tarjetaprimaria">
            <span class="card-title" style="font-size:20px;"><b>
                Ciencia
              </b></span>
          </div>
          <div class="content_box">
            <h5>Ciencia</h5>
            <p>Se promueve el método científico para la toma de decisiones del alumno dentro y fuera del aula, mediante
              actividades prácticas en nuestro laboratorio.</p>
          </div>
        </div>
      </div>
      <div class="col m5ths s6 espaciocero box_single card">
        <div class="single_box waves-effect">
          <div class="img_box waves-block waves-light">
            <img src="{% static 'colmex/images/index/tecnlogia.jpg' %}" alt="tecnologia" />
          </div>
          <div class="card-content tarjetaprimaria" id="tarjetaprimaria2">
            <span class="card-title" style="font-size:20px;"><b>
                Tecnología
              </b></span>
          </div>
          <div class="content_box">
            <h5>Tecnología</h5>
            <p>Formamos alumnos con habilidades para hacer frente al siglo XXI, a través de la integración de las
              herramientas tecnológicas y digitales en su aprendizaje.</p>
          </div>
        </div>
      </div>
      <div class="col m5ths s6 espaciocero box_single card">
        <div class="single_box waves-effect">
          <div class="img_box waves-block waves-light">
            <img src="{% static 'colmex/images/index/ingenieria.jpg' %}" alt="ingenieria" />
          </div>
          <div class="card-content tarjetaprimaria" id="tarjetaprimaria3">
            <span class="card-title" style="font-size:20px;"><b>
                Introducción a la Ingeniería
              </b></span>
          </div>
          <div class="content_box">
            <h5>Introducción a la Ingeniería</h5>
            <p>Se crean espacios con enfoque en ingeniería en los que el alumno lleve a cabo procesos de diseño, así como
              resolución de problemas a través del desarrollo de proyectos interdisciplinarios.</p>
          </div>
        </div>
      </div>
      <div class="col m5ths s6 espaciocero box_single card">
        <div class="single_box waves-effect">
          <div class="img_box waves-block waves-light">
            <img src="{% static 'colmex/images/index/artes.jpg' %}" alt="artes" />
          </div>
          <div class="card-content tarjetaprimaria" id="tarjetaprimaria4">
            <span class="card-title" style="font-size:20px;"><b>
                Artes
              </b></span>
          </div>
          <div class="content_box">
            <h5>Artes</h5>
            <p>Fomentamos las competencias artísticas como parte de su desarrollo integral, ya que les permite desarrollar
              su creatividad y ser partícipes de manera activa en la sociedad de la información y el conocimiento.</p>
          </div>
        </div>
      </div>
      <div class="col m5ths s6 espaciocero box_single card">
        <div class="single_box waves-effect">
          <div class="img_box">
            <img class="responsive-img" src="{% static 'colmex/images/index/matematicas.jpg' %}" alt="matemáticas" />
          </div>
          <div class="card-content tarjetaprimaria" id="tarjetaprimaria5">
            <span class="card-title" style="font-size:20px;"><b>
                Matemáticas
              </b></span>
          </div>
          <div class="content_box">
            <h5>Matemáticas</h5>
            <p>Contextualizamos los conceptos y operaciones matemáticas para un óptimo desarrollo del pensamiento
              matemático.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="parallax-container" id="parallaxpaginainicio" style="margin-top:80px; background-color:#061a52;">
    <h3 class="center" style="color:#ffffff;">
      SOMOS PIONEROS BICULTURALES TRILINGÜES
    </h3>
  </div>
  <div class="row center" style="background-color:#061a52;">
    <div class="col offset-m2 m8 center">
      <div class="col s6 m4 center">
        <img style="max-width:120px;" src="{% static 'colmex/images/primaria/estadosunidos.png' %}"
          class="responsive-img center-block" alt="headprimaria">
        <h5 style="color:#ffffff;">
          Inglés
        </h5>
      </div>
      <div class="col s6 m4 center">
        <img style="max-width:120px;" src="{% static 'colmex/images/primaria/inglaterra.png' %}"
          class="responsive-img center-block" alt="headprimaria">
        <h5 style="color:#ffffff;">
          Inglés
        </h5>
      </div>

      <div class="col s6 m4 center">
        <img style="max-width:120px;" src="{% static 'colmex/images/primaria/italia.png' %}"
          class="responsive-img center-block" alt="headprimaria">
        <h5 style="color:#ffffff;">
          Italiano
        </h5>
      </div>
    </div>
  </div>
  <div class="row" style="background-color:#061a52; margin-top:-25px;">
    <div class="col offset-m2 m8 center">
      <h4 class="center-align" style="color:#FFFFFF; font-size: 1.8em; text-transform: uppercase;">
        Somos centro preparador de las mejores certificaciones internacionales de
        diferentes idiomas en todos sus niveles
      </h4>
    </div>
  </div>
  
  <div class="row" id="certificaciones" style="margin-top:-25px;">
    <div class="container">
      <img class="responsive-img" width="100%" src="{% static 'colmex/images/index/torres.png' %}"
        alt="certificaciones">
    </div>
  </div>
  
  <div class="row">
    <div class="container">
      <div class="section-title">
        <h2 class="center" style="color:#061a52">
          TENEMOS CONVENIOS CON LAS MEJORES UNIVERSIDADES DEL PAÍS
        </h2>
      </div>
      <div class="banner">
        <div class="carousel" id="carousel">
          <a class="carousel-item" href="#one!">
            <img class="responsive-img" height="200" width="250"
              src="{% static 'colmex/images/logosuni/logoanahuac.png' %}" alt="Anahuac">
          </a>
          <a class="carousel-item" href="#two!">
            <img class="responsive-img" height="200" width="250" src="{% static 'colmex/images/logosuni/itam.png' %}"
              alt="ITAM">
          </a>
          <a class="carousel-item" href="#three!">
            <img class="responsive-img" height="200" width="250"
              src="{% static 'colmex/images/logosuni/logotec.png' %}" alt="Tec">
          </a>
          <a class="carousel-item" href="#four!">
            <img class="responsive-img" height="200" width="250"
              src="{% static 'colmex/images/logosuni/logopana.png' %}" alt="Panamericana">
          </a>
          <a class="carousel-item" href="#five!">
            <img class="responsive-img" height="200" width="250"
              src="{% static 'colmex/images/logosuni/arkansas.png' %}" alt="Arkansas">
          </a>
          <a class="carousel-item" href="#six!">
            <img class="responsive-img" height="200" width="250"
              src="{% static 'colmex/images/logosuni/logoupaep.png' %}" alt="UPAEP">
          </a>
          <a class="carousel-item" href="#seven!">
            <img class="responsive-img" height="200" width="250"
              src="{% static 'colmex/images/logosuni/LOGOiteso.jpg' %}" alt="Iteso">
          </a>
          <a class="carousel-item" href="#eight!">
            <img class="responsive-img" height="200" width="250"
              src="{% static 'colmex/images/logosuni/logolasalle.png' %}" alt="Salle">
          </a>
          <a class="carousel-item" href="#nine!">
            <img class="responsive-img" height="200" width="250" src="{% static 'colmex/images/logosuni/uag.png' %}"
              alt="UAG">
          </a>
          <a class="carousel-item" href="#ten!">
            <img class="responsive-img" height="200" width="250"
              src="{% static 'colmex/images/logosuni/logoolmeca.png' %}" alt="Olmeca">
          </a>
          <a class="carousel-item" href="#eleven!">
            <img class="responsive-img" height="200" width="250" src="{% static 'colmex/images/logosuni/colon.png' %}"
              alt="Colon">
          </a>
          <a class="carousel-item" href="#twelve!">
            <img class="responsive-img" height="200" width="250"
              src="{% static 'colmex/images/logosuni/LOGOibero.jpg' %}" alt="Ibero">
          </a>
          <a class="carousel-item" href="#thirteen!">
            <img class="responsive-img" height="200" width="250" src="{% static 'colmex/images/logosuni/modelo.jpg' %}"
              alt="Modelo">
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock contenido %}


{% block script %}
<script src="{% static 'colmex/assets/js/plugins.min.js' %}"></script>
<script src="{% static 'colmex/assets/js/main.min.js' %}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.carousel');
    var ele = document.getElementById('#carousel');
    var options = {
      duration: 1000,
      numVisible: 5,
      fullWidth: true,
      dist: 0,
      shift: 1,
      padding: 30,
      indicators: false,
      noWrap: false
    };
    var instances = M.Carousel.init(elems, options);
    var instance = M.Carousel.getInstance(ele);
    setInterval(instance.next(), 1000);
  });

  $(document).ready(function () {
    $('.slider').slider();
    setInterval(function () {
      $('.carousel').carousel('next');
    }, 5000);
  });
</script>
{% endblock script %}
    